/* 全局样式 */
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #39d949;
    /* 柔和的淡绿色背景 */
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

/* Logo 样式 */
.logo {
    font-size: 88px;
    /* 更大的字体 */
    font-weight: bold;
    color: #42b983;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 50px;
    /* 增加间距 */
    transition: transform 0.3s ease;
}


/* 输入框容器样式 */
.request-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

/* HTTP 请求模块 */
.http-request,
.websocket-request {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

/* 输入框样式 */
input[type="text"] {
    width: 95%;
    padding: 12px 15px;
    border: 1px solid #42b983;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #31775d;
    box-shadow: 0 0 5px rgba(50, 150, 100, 0.5);
}

/* 响应内容样式 */
.http-response,
.websocket-response {
    width: 95%;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #666;
    overflow-y: auto;
    text-align: left;
    display: none;
    /* 默认隐藏 */
}

.http-response:hover,
.websocket-response:hover {
    border-color: #42b983;
}

.response {
    display: none;
    /* 初始隐藏 */
    overflow-y: auto;
    /* 启用垂直滚动 */
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: height 0.3s ease;
    /* 平滑调整高度 */
    font-size: 14px;
    color: #333;
    word-wrap: break-word;
    max-height: 150px;
    /* 设置最大高度 */
}