/* 容器样式 */
.data-container {
    width: 80%;
    overflow-y: auto;
    height: 100%;
    max-height: 100%;
    padding: 20px;
    background-color: #f4f7ff;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* 表格行样式 */
.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    margin: 5px 0;
    border-radius: 6px;
    transition: background 0.3s ease;
}

.table-row1 {
    background-color: #e2edfb;
}

/* 鼠标悬停行背景色
.table-row:hover {
    background-color: #79baff;
} */

/* 名称、地址、权重的样式 */
.table-row .name,
.table-row .addr,
.table-row .weight {
    flex: 1;
    font-size: 14px;
    color: #333;
    margin-right: 10px;
    text-align: center;
}



/* 按钮样式 */
.show-datail {
    padding: 6px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

/* 按钮悬停样式 */
.show-datail:hover {
    background-color: #0056b3;
}

/* 按钮按下时样式 */
.show-datail:active {
    background-color: #003f7f;
}