<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omi</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <!-- Logo -->
    <div class="logo">omi1</div>

    <!-- 请求模块 -->
    <div class="request-container">
        <div class="http-request">
            <input type="text" class="http-url" placeholder="请输入 HTTP 请求的 URL">
            <div class="http-response response">HTTP 响应将显示在这里...</div>
        </div>
        
        <div class="websocket-request">
            <input type="text" class="websocket-url" placeholder="请输入 WebSocket 地址">
            <div class="websocket-response response">WebSocket 响应将显示在这里...</div>
        </div>
    </div>

    <script src="static/js/app.js"></script>
</body>

</html>