<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omi</title>
    <link rel="stylesheet" href="static/css/styple.css">
</head>

<body>
    <!-- 动态背景 -->
    <div class="background">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>

    <!-- Logo -->
    <div class="logo">omi</div>

    <!-- 标语 -->
    <p class="tagline">Do one thing, do it well</p>

    <!-- 按钮 -->
    <div class="button-container">
        <button class="button" onclick="redirectToRequest()">请求测试</button>
    </div>

    <script src="static/js/app.js"></script>

</body>

</html>