<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omi - 请求页面</title>
    <link rel="stylesheet" href="/static/css/request.css">
</head>

<body>
    <!-- 动态背景 -->
    <div class="background">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>

    <!-- 标题 -->
    <h1>Request Test</h1>

    <!-- 描述 -->
    <p class="description">测试 HTTP、WebSocket 请求功能及页面跳转，请输入有效的 URL 并按下回车键。</p>

    <!-- 搜索框 -->
    <div class="search-container">
        <!-- HTTP 请求框 -->
        <input type="text" class="search-box" placeholder="URL (HTTP Request)" onkeydown="handleSearch(event)">
        <!-- WebSocket 请求框 -->
        <input type="text" class="search-box ws-search-box" placeholder="URL (WebSocket Request)"
            onkeydown="handleWebSocket(event)">
        <!-- 跳转框 -->
        <input type="text" class="search-box navigate-box" placeholder="URL (Navigate)"
            onkeydown="handleNavigate(event)">
    </div>
    <script src="/static/js/app.js"></script>
</body>

</html>